body {
    margin: 0;
    font-family: 'Josefin Sans', 'Montserrat', 'Rubik', 'Acme';
    text-align: center;
    width: 100%;
    height: 100%;
}
body > div {
    width: 100%;
    height: 100vh;
}

#pres {
    background-color: beige;
}
#scrol {
    position: fixed;
    width: 100px;
    height: 50px;
    margin-left: 90%;
    margin-top: 20px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 100;
}
#items {
    display: none;
    position: absolute;
    font-size: 30px;
    background-color: transparent;
    width: 100%;
    top: 25vh;
    height: 50vh;
}
#menu {
    padding: 30px;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 9;
    overflow: hidden;
}
#mcont:hover {cursor: pointer}
#mcont {
    margin: 20px;
    margin-left: 50px;
    position: fixed;
    width: 70px;
    height: 80px;
    z-index: 10;
}

ul {
    list-style: none;
    text-align:left;
}
li {
    transition: 0.3s;
    padding-top: 20px;
    color: rgb(221, 221, 221);
}
li:hover {
    cursor: pointer;
    transition: 0.3s;
    margin-left: 30px;
    color: white;
}
.barra{
    position: absolute;
    background-color: rgb(22, 22, 22);
    width: 4px;
    height: 50px;
    border-radius: 20px;
    margin: 5px;
}

#menu > div:nth-child(1){margin-left: 10px}
#menu > div:nth-child(2){margin-left: 25px}
#menu > div:nth-child(3){margin-left: 40px}
#menu > div:nth-child(4){margin-left: 55px}

#yearEst {
    position: relative;
    display: flex;
    top: 0;
    width: 50%;
    font-size: 10vh;
    background: rgb(0, 145, 218);
    color: white;
    z-index: 1;
}
#contEst {
    position: relative;
    width: 100%;
    height: 100%;
}
#yearEst span {
    transition: 0.3s;
    position: absolute;
    opacity: 0;
    align-self: center;
    width: 100%;
    white-space: nowrap; 
}

#estudios {
    position: relative;
    left: 50%;
    width: 50%;
    font-size: 5vh;
    height: 600%;
    background-color: white;
}

#estudios p {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 70vh;
    align-self: center;
    text-align: center;
}

#estudios p:first-child {margin-top: 30vh;}

#tecno {
    position: relative;
    top: 110vh;
    height: 250vh;
}


.ball {
    transition: .3s;
    position: absolute;
    margin-top: 40vh;
    width: 10%;
    height: 10%;
    background-size: contain; 
    background-repeat: no-repeat;
}

.gray {
    filter: grayscale(100%);
}
.ball:hover {
    transition: .3s;
    filter: grayscale(0);
}

#bHtml {
    background-image: url('../img/html5.png');
    margin-left: 25%;
}
#bCss {
    background-image: url('../img/css3.png');
    margin-left: 55%;
}
#bJs {
    background-image: url('../img/javascript.png');
    margin-left: 40%;
    margin-top: 50vh;
}
#bJava {
    background-image: url('../img/java.png');
    margin-left: 5%;
}
#bC {
    background-image: url('../img/c.png');
    margin-left: 5%;
    margin-top: 85vh;
}
#bPython {
    background-image: url('../img/python.png');
    margin-left: 13%;
    margin-top: 60vh;
}
#bPhp {
    background-image: url('../img/php.png');
    margin-left: 75%;
    margin-top: 80vh;
}
#bMysql {
    background-image: url('../img/mysql.png');
    margin-left: 80%;
    margin-top: 60vh;
}
#bMongoDB {
    background-image: url('../img/mongodb.png');
    margin-left: 45%;
    margin-top: 80vh;
}
#bBs {
    background-image: url('../img/bootstrap.png');
    margin-left: 70%;
}

#bAngular {
    background-image: url('../img/angular.png');
    margin-left: 30%;
    margin-top: 75vh;
}

#bGsap {
    background-image: url('../img/gsap.png');
    margin-left: 60%;
    margin-top: 70vh;
}

#bJquery {
    background-image: url('../img/jquery.png');
    margin-left: 20%;
    margin-top: 95vh;
}
#bD3{
    background-image: url('../img/d3.png');
    margin-left: 45%;
    margin-top: 98vh;
}
#bSocketio {
    background-image: url('../img/socketio.jpg');
    margin-left: 65%;
    margin-top: 105vh;
}

#bWordpress{
    background-image: url('../img/wordpress.png');
    margin-left: 85%;
    width: 5%;
    height: 5%;
    margin-top: 95vh;
}
